@use "../components/scss/" as *;

.detail-page {
  width: 100%;

  h1 {
    font-size: 1.5rem;
  }

  .list-item > * {
    margin: 1rem;
  }
}

.banner {
  width: 100%;
  position: relative;

  .overlay-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem 1rem;

    .back-icon {
      background-color: rgba($color: #67686d, $alpha: 0.8);
      color: white;
      padding: 1px 1px;
      font-size: 2rem;
      border-radius: 5px;
    }

    .share-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;

      & > * {
        background-color: rgba($color: #67686d, $alpha: 0.8);
        color: white;
        width: fit-content;
        font-size: 2rem;
        text-align: center;
        border-radius: 5px;
        margin-left: 1rem;
        padding: 1px 1px;
        line-height: 0;
      }
    }
  }
}

.detail-price {
  margin: 0 2rem;
}

.desc {
  margin: 2rem 0;
  border-top: 10px solid rgba($color: #838080, $alpha: 0.1);
  border-bottom: 10px solid rgba($color: #838080, $alpha: 0.1);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 2rem 2rem;
}

.item-game-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

  .item-game {
    display: flex;
    flex-direction: column;
  }

  .heart-icon {
    font-size: 2rem;
    transition: color 1s;
    border-radius: 50%;
    background: none;
    transition: background-color 0.5s;
  }

  .heart-icon-active {
    font-size: 2rem;
    color: $white;
    background-color: $main-color;
    border-radius: 50%;
    padding: 1px;
    transition: background-color 0.5s linear, color 0.5s linear;
  }
}

.discount-wrapper-detail {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }

  .price {
    font-size: 2rem;
  }
  .discount {
    padding-left: 0.3rem;
  }
}

.btn-cart {
  display: flex;
  border-top: 1px solid rgba($color: #908d8d, $alpha: 0.2);
  padding: 1rem 0;

  .add-to-cart {
    display: block;
    width: 100%;
    color: $white;
    background-color: $main-color;
    margin: 0 2rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    border: none;
  }
}
