@use "../scss/" as *;

.read-more-desc {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  display: inline-block;
  text-align-last: right;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #307fe2;
}

.read-more-delivery {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #307fe2;
  font-weight: 400;
}

.delivery-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.button-icon {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
