@use "../scss/" as *;

.available {
  color: $green-txt;
  border: 1px solid $green-txt;
  border-radius: 3px;
  max-width: fit-content;
}

.limited {
  color: $main-color;
  border: 1px solid $main-color;
  border-radius: 3px;
  max-width: fit-content;
}

.price {
  color: $main-color;
  font-weight: bold;
}

.discount {
  background-color: $red;
  color: $white;
  width: fit-content;
  border-radius: 3px;
}

.delivery {
  color: $green-txt;
  background-color: $green-bg;
  border-radius: 3px;
  max-width: fit-content;
  margin-left: 0.2rem;
  padding-right: 0.5rem;
}
.total-sold {
  position: absolute;
  bottom: 0;
  font-weight: lighter;
  color: gray;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: 600;
}

.thin {
  font-weight: lighter;
  color: gray;
}

del {
  color: gray;
}
