@use "../scss/" as *;

.bg {
  width: 100%;
  height: 75px;

  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.item-name {
  font-weight: bold;
}

.discount-wrapper {
  display: flex;
  flex-wrap: wrap;
}
