@use '../scss/' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba($color: #908d8d, $alpha: 0.2);
  padding-top: 2rem;
  color: gray;
  font-weight: lighter;
  font-size: 0.7rem;
  padding-bottom: 3rem;

}
