@use "../scss/" as *;

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba($color: #908d8d, $alpha: 0.2);
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  .logo {
    width: 100px;
  }
}
