@use "../scss/" as *;

.list-item {
  padding: 0 2rem;
  width: 100%;
  .swiper-wrapper {
    margin-left: 2px;
  }
  .swiper-slide {
    position: relative;
    width: 35%;
    box-shadow: 0px 1px 3px 0 rgba($color: #908d8d, $alpha: 0.3);
    border-radius: 10px;
    height: 250px;
    min-height: 300px;
    margin-bottom: 3rem;
    margin-top: 1rem;

    @include tablet {
      height: 400px;
    }

    p {
      margin-top: 0.5rem;
      margin-left: 1rem;
      padding-left: 0.2rem;
      padding-right: 0.5rem;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
}
